.checkoutProduct {
	display: flex;
	padding: 10px 0;
	border-bottom: 1px solid rgb(200, 200, 200);
}

.checkoutProduct__image {
	width: 180px;
	height: 180px;
	object-fit: contain;
}

.checkoutProduct__info {
	padding-left: 20px;
}

.checkoutProduct__btn {
	background-color: #f0c14b;
	border: 1px solid;
	margin-top: 10px;
	color: #111;
	border-color: #a88734 #9c7e31 #846a29;
}

.checkoutProduct__rating {
	display: flex;
}

.checkoutProduct__title {
	font-size: 17px;
	font-weight: 800;
}

.checkoutProduct__price {
	margin: 20px 0;
}
